<script>
    let itemsArray = localStorage.getItem('items') ? JSON.parse(localStorage.getItem('items')) : [];
    localStorage.setItem('items', JSON.stringify(itemsArray));

    if (itemsArray && itemsArray.length === 5) {
        itemsArray.shift();
    } 

    itemsArray.push("<%= @word %>");
    localStorage.setItem('items', JSON.stringify(itemsArray));
</script>
  
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4"><%= @word %></p>
                        <p class="subtitle is-6"><%= @provider %></p>
                    </div>
                </div>

                <div class="content">
                    <%= @definition %>
                    <br>
                    <audio controls>
                        <source src="<%= @audio_url %>" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>